.maingame{
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
}

.maingame_canvas {
    border: 1px solid #000;
}