.background{
    width: 100vw; 
    height: 100vh;
    background-color: #0f101d;
}

.restart{
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.you_died{
    margin-left: 44vw;
    margin-top: 7vh;
    font-weight: bold;
    font-size: 3vb;
    color: #0F101D;
}

.restart_game_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 12vh;
    text-align: center;
    background-color: #0F101D;
    border-radius: 1vh;
    padding: 5vh;
    margin-left: 38vw;
    margin-top: 35vh;
}

.restart_title{
    font-weight: bold;
    margin-bottom: 15px;
}

.restart_game_input_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 10vw;
    height: 3vh;
    border-radius: 2vh;
    margin-bottom: 9vh;
}

.nickname{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vb;
    margin-bottom: 2vh;
}

.input{
    width: 10vw;
    height: 2.5vh;
}

.enter_button{
    margin-top: 3vh;
    border-radius: 1vh;
    padding: 0.5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vb;
}